p {
    display: flex;
    text-align: center;
    font-size: 150%;
    margin: 10px;
    justify-content: center;
}

.fondo {
    background: linear-gradient(to bottom, rgb(72, 4, 4), rgba(121, 6, 6, 0.997), rgb(63, 3, 3));
    background-size: auto
    
}

.navbar { 
    text-align: center;
    padding : 5px;
}

#titulo {
    font-size: 50px;
}

#kris_img {
    width: 150px;
    height: 280px;
}

#susie_img { 
    width: 170px;
}

#ralsei_img {
    width: 150px;
    height: 280px;
}

.cartas {
    border: 5px solid rgb(38, 36, 36);
    border-radius: 10px;
    padding: 1vw;
    transition: 1s;
    background-color: rgb(89, 125, 204);
}

.cartas:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#kris:hover {
    background-color: rgb(21, 21, 110);
}
#susie:hover{
    background-color: rgb(163, 53, 163);
}

#ralsei:hover {
    background-color: rgb(12, 93, 12);
}

.cartas-container {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}